.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin: 0 30px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/*buttton*/
.btn-primary {
    display: inline-block;
    margin: 15px 30px;
    background-color: #882224;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

.btn-primary:hover {
      color: #882224;
      background: white;
}
